<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatter - Welcome!</title>
</head>
<body>
  <h1>Login</h1>
  <div>
    <form action="/users/signIn" method="post">
      <input type="text" name="id" placeholder="ID">
      <input type="password" name="pw" placeholder="PW">
      <button>Login</button>
    </form>
  </div>
  <h1>Sign Up</h1>
  <div>
    <form action="/users/signUp" method="post">
      <input type="text" name="name" placeholder="NAME">
      <input type="text" name="id" placeholder="ID">
      <input type="password" name="pw" placeholder="PW">
      <button>Sign Up</button>
    </form>
  </div>
</body>
</html>