<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatter - Success!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/success.css">
</head>
<body>
    <div class="container">
        <h1>Success</h1>
        <div><%= msg %></div>
        <a href="<%=link%>">Next</a>
    </div>
</body>
</html>